<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
    <h3>Name: </h3><input type="text" name="name" />
    <h3>Email: </h3><input type="text" name="email" />
    <h3>Password: </h3><input type="text" name="password" />
    <input type="submit" value="Sign Up"/>
</form>
